﻿<RowInputSelect Label="@Field.Label" Help="@Field.HelpText" 
          Value="@value"
          ValueExpression="@RowFormFieldExpression.GetText(Result)"
          ValueChanged="@OnValueChanged">
    <option value="">(Nessuno)</option>
    @foreach (var item in Field.Items)
    {
        <option selected="@(item == value)">@item</option>
    }
</RowInputSelect>

@code
{

    [Parameter]
    public ComboBoxFormField Field { get; set; }

    [Parameter]
    public FormFieldResult Result { get; set; }

    private string value;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        value = Result.TextValue;
    }

    private void OnValueChanged(string v)
    {
        value = v;
        Result.TextValue = v;
    }
}
