﻿<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @if (authorize)
        {
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin/>
                </NotAuthorized>
            </AuthorizeRouteView>
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="kt-portlet">
                <div class="kt-error-v1" style="background-image: url(assets/media/error/bg1.jpg); background-attachment: initial;">
                    <div class="kt-error-v1__container kt-align-center">
                        <h1 class="kt-error-v1__number" style="margin-top: 15rem;">404</h1>
                        <p class="kt-error-v1__desc" style="margin-bottom: 15rem;">
                            OOPS! Something went wrong here
                        </p>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>

@code{
#if SERVER
    private bool authorize = false;
#else
    private bool authorize = true;
#endif
}
