@page "/authentication/{action}"
@attribute [AllowAnonymous]
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@*<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        Stai entrando
    </LoggingIn>
    <LogOutSucceeded>
        Sei uscito
    </LogOutSucceeded>
</RemoteAuthenticatorView>*@

@code{
    [Parameter] public string Action { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

#if SERVER
        throw new InvalidOperationException("Authentication page is not supported while running in server mode");
#endif
    }

}
