﻿@page "/cities/{id}"
@page "/cities/new"
@inject IErrorService ErrorService
@inject IDialogService DialogService
@inject IServiceAgent<City, string> CityServiceAgent
@inject NavigationManager NavigationManager

@if (model != null)
{
    <EditForm Model="model" OnValidSubmit="Save">

        <DataAnnotationsValidator />

        <RowInput Label="Id" @bind-Value="model.Id" />
        <RowInput Label="Nome" @bind-Value="model.Comune" />
        <RowInput Label="CAP" @bind-Value="model.CAP" />
        <RowInput Label="Codice Fisco" @bind-Value="model.CodFisco" />
        <RowInput Label="Provincia" @bind-Value="model.Provincia" />
        <RowInput Label="Regione" @bind-Value="model.Regione" />
        <RowInput Label="Prefisso" @bind-Value="model.Prefisso" />
        <RowInput Label="Link" @bind-Value="model.Link" />
        <RowInput Label="Abitanti" @bind-Value="model.Abitanti" />

        <button type="submit" class="btn btn-primary">Salva</button>
    </EditForm>
}