﻿@page "/exams/{id:guid}"
@page "/exams/new"
@inject IErrorService ErrorService
@inject IDialogService DialogService
@inject IServiceAgent<Exam, Guid> ExamServiceAgent
@inject NavigationManager NavigationManager

@if (model != null)
{
    <EditForm Model="model" OnValidSubmit="Save">

        <DataAnnotationsValidator />

        <RowInput Label="Descrizione" @bind-Value="model.Description" />

        <!-- Caricamento Measurement con elemento vuoto in bind con MeasurementId -->        
        @*<SpinnerValue>*@
            <RowAutoInputSelect TEntity="Measurement" TKey="String" EmptyItem="(nessuno)" DisplayExpression="@(m => m.Name)" Label="Misurazione" @bind-Value="model.MeasurementId" />
        @*</SpinnerValue>*@

        <!-- Caricamento Measurement con evento per personalizzare query, con elemento vuoto in bind con MeasurementId -->
        <!-- In bind anche SelectedItem per poter mostrare a parte l'elemento selezionato -->
        <RowAutoInputSelect @ref="measurementSelect" TEntity="Measurement" TKey="String" EmptyItem="(nessuno)" DisplayExpression="@(m => m.Name)" Label="Misurazione" @bind-Value="model.MeasurementId" @bind-SelectedItem="measurement" OnLoadQueryItems="OnLoadMeasurements" />

        <!-- Caricamento MedicalSpecialization con elemento vuoto in bind con MedicalSpecializationId -->
        <RowAutoInputSelect TEntity="MedicalSpecialization" TKey="String" EmptyItem="(nessuno)" DisplayExpression="@(m => m.Name)" Label="Specializzazione medica" @bind-Value="@model.MedicalSpecializationId" />

        <!-- Caricamento MedicalSpecialization con elemento vuoto senza biind-->
        <!-- Gestione manuale dell'evento per poter forzare il caricamento di measurementSelect -->
        <!-- Valorizzazione manuale degli elementi per simulare il bind: Value e ValueExpression -->
        <RowAutoInputSelect TEntity="MedicalSpecialization" TKey="String" EmptyItem="(nessuno)" DisplayExpression="@(m => m.Name)" Label="Specializzazione medica"
                            Value="@model.MedicalSpecializationId"
                            ValueExpression="@(() => model.MedicalSpecializationId)"
                            ValueChanged="@OnMedicalSpecializationChanged" />

        <p>Hai selezionato: @measurement?.Name</p>
        <p>MeasurementId: @model.MeasurementId</p>
        <button type="submit" class="btn btn-primary">Salva</button>
    </EditForm>
}