﻿@page "/exams/fill/{id:guid}"
@inject IErrorService ErrorService
@inject IDialogService DialogService
@inject IServiceAgent<FormField, Guid> FormFieldServiceAgent
@inject IServiceAgent<ExamResult, Guid> ExamResultServiceAgent
@inject IServiceAgent<FormFieldResult, Guid> FormFieldResultServiceAgent
@inject NavigationManager NavigationManager

@if (formFieldResults.Count > 0)
{
    <EditForm EditContext="editContext" OnValidSubmit="Save">

        @foreach (FormFieldResult result in formFieldResults)
        {
            switch (result.FormField)
            {
                case TextFormField tt:
                    <RowTextFormField Field="tt" Result="@result" />
                    break;
                case FlagFormField tt:
                    <RowFlagFormField Field="tt" Result="@result" />
                    break;
                case ComboBoxFormField tt:
                    <RowComboBoxFormField Field="tt" Result="@result" />
                    break;
            }
        }

        <button type="submit" class="btn btn-primary">Salva</button>
    </EditForm>
}