﻿@page "/"
@using SustApp.ASF.UI.Forms.Services
@inject UserContext  UserContext
@inject IDialogService DialogService
@inject IModalService ModalService
@inject IErrorService ErrorService
@inject IToastService toastService
<p>
    <button class="btn btn-default" @onclick="Start">Start</button>
</p>
<p>
    <button class="btn btn-default" @onclick="Dialog">Dialog</button>
</p>
<p>
    <button class="btn btn-default" @onclick="ToastDialog">Toast Dialog</button>
</p>

@code {

    [CascadingParameter]
    public SpinnerContext SpinnerContext { get; set; }

    private Task Start()
    {
        //Set a start spinner html component:
        return ErrorService.RunAsync(async t =>
        {
        //...write your application logic:
        await Task.Delay(2000);
            UserContext.Username = "Sandro";

            throw new Exception("test");
        }, SpinnerContext, Token);
    }

    private async Task Dialog()
    {
        await DialogService.ShowErrorAsync("errore", "si è verificato un errore non previsto");

        bool r = await DialogService.ConfirmAsync("Lo vuoi?", "Vuoi tu prendere Sandro?");

        await DialogService.ShowErrorAsync("errore", "Hai premuto " + r);
    }

    private async Task ToastDialog()
    {
        await DialogService.ToastAsync("Info", "Sei in vacanza?", ToastLevel.Info);
        await DialogService.ToastAsync("Success", "OK sei in vacanza!!", ToastLevel.Success);
        await DialogService.ToastAsync("Warning", "Forse sei in vacanza!!", ToastLevel.Warning);
        await DialogService.ToastAsync("Errore", "NON sei in vacanza!!", ToastLevel.Error);
        //toastService.ShowToast(ToastLevel.Success, "I'm an ERROR message", "Ciao");
        //toastService.ShowToast(ToastLevel.Info, "I'm an ERROR message", "Ciao");
    }

}