﻿@page "/militaryranks/{id}"
@page "/militaryranks/new"
@inject IErrorService ErrorService
@inject IDialogService DialogService
@inject IServiceAgent<MilitaryRank, string> MilitaryRankServiceAgent
@inject NavigationManager NavigationManager

@if (model != null)
{
    <EditForm Model="model" OnValidSubmit="Save">

        <DataAnnotationsValidator />

        <RowInput Label="Id" @bind-Value="model.Id" />
        <RowInput Label="Nome" @bind-Value="model.Name" />

        <button type="submit" class="btn btn-primary">Salva</button>
    </EditForm>
}