﻿@page "/persons/{id:guid}"
@page "/persons/new"
@inject IErrorService ErrorService
@inject IDialogService DialogService
@inject IServiceAgent<Person, Guid> PersonServiceAgent
@inject NavigationManager NavigationManager

@if (model != null)
{
    <EditForm Model="model" OnValidSubmit="Save">

        <DataAnnotationsValidator />

        <RowInput Label="Nome" @bind-Value="model.Name" />
        <RowInput Label="Cognome" @bind-Value="model.Surname" />

        <button type="submit" class="btn btn-primary">Salva</button>
    </EditForm>
}