﻿@page "/persons"
@inject IErrorService ErrorService
@inject IDialogService DialogService
@inject IServiceAgent<Person, Guid> PersonServiceAgent
@inject NavigationManager NavigationManager

<a href="/persons/new" class="btn btn-brand btn-icon-sm">
    <i class="flaticon2-plus"></i> Add New
</a>

<div class="kt-input-icon kt-input-icon--left">
    <input class="form-control" placeholder="Search..." @bind="searchText" @bind:event="oninput" />
    <span class="kt-input-icon__icon kt-input-icon__icon--left">
        <span><i class="la la-search"></i></span>
    </span>
</div>

<DataGrid TItem="Person"
          IsStriped="true"
          IsBordered="true"
          RowSelectable="@(e => false)"
          TotalItems="@countResult.Count"
          ReadData="OnReadData"
          RowRemoved="@OnRowRemoved"
          Editable="true"
          ShowPager="true"
          UseInternalEditing="false"
          PageSize="15"
          Data="@countResult.Items">
    <DataGridCommandColumn TItem="Person" Width="20%">
        <NewCommandTemplate>

        </NewCommandTemplate>
        <EditCommandTemplate>
            <button href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="Modifica" @onclick="@(() => OnEdit(context.Item))">
                <i class="flaticon2-paper"></i>
            </button>
        </EditCommandTemplate>
        <DeleteCommandTemplate>
            <button href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="Elimina" @onclick="context.Clicked">
                <i class="flaticon2-trash"></i>
            </button>
        </DeleteCommandTemplate>
    </DataGridCommandColumn>
    <DataGridColumn TItem="Person" Field="@nameof(Person.Name)" Caption="Nome" Width="50%" />
    <DataGridColumn TItem="Person" Field="@nameof(Person.Surname)" Caption="Cognome" Width="50%" />
</DataGrid>