﻿@typeparam TEntity
@typeparam TKey
@inject IServiceAgent<TEntity, TKey> ServiceAgent;
@inject IErrorService ErrorService

<Row Label="@Label" Help="@Help" Model="@ValueExpression">
    <InputSelect TValue="TKey" Value="@internalValue" ValueChanged="@OnValueChanged" ValueExpression="@ValueExpression">
        @if (result != null)
        {
            @if (EmptyItem != null)
            {
                <option value="@emptyValue" selected="@(EqualityComparer<TKey>.Default.Equals(internalValue, emptyValue))">@EmptyItem</option>
            }
            @foreach (var item in result.Items)
            {
                <option value="@item.Id" selected="@item.Id.Equals(internalValue)">@displayFunc(item)</option>
            }
        }
    </InputSelect>
    <ValidationMessage For="@ValueExpression" />
</Row>