﻿@typeparam T
@inherits InputBase<T>
<Row Label="@Label" Help="@Help" TItem="T" Model="@ValueExpression">
    @*Viene iniettato il controllo (e quindi il suo html) dalla classe InputBase*@
    @Input
    <ValidationMessage For="@ValueExpression" />
</Row>

@code
{

    /// <summary>
    /// Lable added to html control
    /// </summary>
    [Parameter]
    public string Label { get; set; }

    /// <summary>
    /// Help added to html control
    /// </summary>
    [Parameter]
    public string Help { get; set; }
    
}
