﻿@implements IDisposable
@if (Context.IsActive) //The html control is present or not
{
    <div style="background-color: rgba(0, 0, 0, 0.50)">

    </div>
    <div style="position:absolute" class="kt-spinner kt-spinner--lg kt-spinner--brand"></div>
}
@code {

    [CascadingParameter]
    public SpinnerContext Context { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Context != null)
        {
            Context.IsActiveChanged += OnIsActiveChanged;
        }
    }

    void IDisposable.Dispose()
    {
        if (Context != null)
        {
            Context.IsActiveChanged -= OnIsActiveChanged;
        }
    }

    private void OnIsActiveChanged(object s, EventArgs e)
    {
        StateHasChanged();
    }
}