﻿@*<li class="kt-menu__item active + " aria-haspopup="true">*@

<li class="kt-menu__item @(CssClass)" @attributes="NewAdditionalAttributes" aria-haspopup="true">
    <a href="@_href" class="kt-menu__link ">
        <i class="kt-menu__link-icon flaticon-@(Icon)"></i>
        <span class="kt-menu__link-text">@(ChildContent)</span>
    </a>
</li>