﻿@model SustApp.ASF.IdentityProvider.LoginViewModel
@using System.Net
@using Microsoft.AspNetCore.Http
@{
    ViewBag.Title = "title";
}

<h2>Login</h2>

@if (Model.HasError)
{
    <h4>@Model.Error</h4>
}
else
{
    <form asp-action="Index" method="post">
        Key: <input type="text" asp-for="SmartCard"/>
        <input type="hidden" asp-for="ReturnUrl"/>
        <input type="submit" value="Login"/>
    </form>

    <script>
        // Login automatico per simulare la lettura da smartcart
        //document.getElementById('SmartCard').value = "1";
        //document.forms[0].submit();

        // TODO: se la smartcard non è presente e siamo in modalità autologin (vedere middleware)
        // dobbiamo comunque rimandare al returnUrl originale
    </script>
}