﻿@inject IDialogEventsService DialogEventsService
@inject IModalService Modal
@inject IToastService ToastService
@using SustApp.ASF.UI.Forms.Services
@implements IDisposable

@code {

    //Call from "MainLayout.razor"
    protected override void OnInitialized()
    {
        base.OnInitialized();

        DialogEventsService.OnDialogMessage += OnDialogMessage;
    }

    /// <summary>
    /// Show the modal dilog windows
    /// </summary>
    /// <param name="s"></param>
    /// <param name="message"></param>
    private void OnDialogMessage(object s, DialogMessage message)
    {
        var options = new ModalOptions()
        {
            Style = "not-exists",
            HideCloseButton = true,
            HideHeader = true
        };

        var parameters = new ModalParameters();
        parameters.Add(nameof(DialogMessage), message);

        //Modal.OnClose += OnClose;
        switch (message)
        {
            case ErrorDialogMessage e:
                Modal.OnClose += OnClose;
                Modal.Show<Error>(message.Title, parameters, options);
                break;
            case ConfirmDialogMessage e:
                Modal.OnClose += OnClose;
                Modal.Show<Confirm>(message.Title, parameters, options);
                break;
            case ToastDialogMessage e:
                //Modal.Show<Toast>(message.Title, parameters, options);
                ToastService.ShowToast(message.ToastLevel, message.Message, message.Title);
                //e.Complete(); //Return the task result
                break;
        }

        void OnClose(ModalResult result)
        {
            Modal.OnClose -= OnClose;
            switch (message)
            {
                case ErrorDialogMessage e:
                    e.Complete();
                    break;
                case ConfirmDialogMessage e:
                    e.Complete(!result.Cancelled);
                    break;
                    //case ToastDialogMessage e:
                    //    e.Complete();
                    //    break;
            }
        }
    }

    void IDisposable.Dispose()
    {
        DialogEventsService.OnDialogMessage -= OnDialogMessage;
    }
}