﻿@using SustApp.ASF.UI.Forms.Services
@inject IModalService ModalService

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">@DialogMessage.Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <p>@DialogMessage.Message</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" @onclick="ModalService.Cancel">Chiudi</button>
        </div>
    </div>
</div>

@code {

    [CascadingParameter] ModalParameters Parameters { get; set; }

    private ErrorDialogMessage DialogMessage;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DialogMessage = Parameters.Get<ErrorDialogMessage>(nameof(DialogMessage));
    }
}