﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@*@inject SignOutSessionStateManager SignOutManager*@

<div class="kt-header__topbar-user">
    @if (show)
    {
        <AuthorizeView>
            <Authorized>
                <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                <span class="kt-header__topbar-username kt-hidden-mobile">@context.User.Identity.Name</span>
                <img class="kt-hidden" alt="Pic" src="assets/media/users/300_25.jpg"/>

                @*use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) *@
                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">S</span>

                @*<button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>*@
            </Authorized>
            <NotAuthorized>
                <a href="authentication/login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    }
</div>

@code{
    //private async Task BeginSignOut(MouseEventArgs args)
    //{
    //    await SignOutManager.SetSignOutState();
    //    Navigation.NavigateTo("authentication/logout");
    //}
#if SERVER
    private bool show = false;
#else
    private bool show = true;
#endif
}
