﻿@inherits LayoutComponentBase
@inject UserContext UserContext
@inject IJSRuntime JsRuntime

@* begin:: Page *@
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

        <MetronicMobileHeader />

        <MetronicNavMenu />

        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            <MetronicHeader />

            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                <MetronicSubHeader />

                @* begin:: Content *@
                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                    <SpinnerValue>
                        @Body
                    </SpinnerValue>
                </div>

                @* end:: Content *@
            </div>

            <MetronicFooter />
        </div>
    </div>

    <BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />
    <BlazoredModal />
    <Dialog />
</div>
@* end:: Page *@

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("KTLayout.init");
        }
    }
}
